<table class="data-table" cellspacing="0">
  <tbody>
    <tr>
      {{#notEmpty}}<td class="column-header"></td>{{/notEmpty}}
      {{#headers}}
      <td class="column-header">
        <div class="column-header-title">
          <a class="column-header-menu"></a>
          <span class="column-header-name">{{.}}</span>
        </div>
        </div>
      </td>
      {{/headers}}
    </tr>
    {{#rows}}
    <tr data-key="{{key}}">
      <td><a class="row-header-menu" title="Inspect Row"></a></td>
      {{#cells}}
      <td data-header="{{header}}">
        <div class="data-table-cell-content">
          <a href="javascript:{}" class="data-table-cell-edit" title="Edit this cell">&nbsp;</a>
          <div class="data-table-cell-value">{{value}}</div>
        </div>
      </td>
      {{/cells}}
    </tr>
    {{/rows}}
  </tbody>
</table>