    <div class="expression-preview-table-wrapper">
      <table>
      <tbody>
      <tr>
        <td class="expression-preview-heading">
          before
        </td>
        <td class="expression-preview-heading">
          after
        </td>
      </tr>
      {{#rows}}
      <tr>
        <td class="expression-preview-value">
          {{before}}
        </td>
        <td class="expression-preview-value">
          {{after}}
        </td>
      </tr>
      {{/rows}}
      </tbody>
      </table>
    </div>