<div class="dialog-header">
  Sign in
</div>
<div class="dialog-body">
  <div class="grid-layout layout-tight layout-full">
    <form name="sign-in-form" id="sign-in-form">
      <table class="form-table">
        <tbody>
          <tr>
            <th>
              <label for="username">Username</label>
            </th>
            <td>
              <input type="text" size="25" id="username-input" name="username">
            </td>
          </tr>
          <tr>
            <th>
              <label for="password">Password</label>
            </th>
            <td>
              <input type="password" size="25" id="password-input" name="password">
            </td>
          </tr>
          <input type="submit" style="height: 0px; width: 0px; border: none; padding: 0px;" hidefocus="true" />
        </tbody>
      </table>
    </form>
  </div>
</div>
<div class="dialog-footer">
  <button class="okButton button">&nbsp;&nbsp;Sign in&nbsp;&nbsp;</button>
  <button class="cancelButton button">Cancel</button>
</div>