<div id="tool-panel">
  <div id="summary-bar">
    <span id="metadata"></span>
  </div>
  <div id="download">
  </div>
</div>
<div id="view-panel">
  <div class="viewpanel-header">
    <div class="viewpanel-pagesize">
      <span>
        Show:
      </span>
      <a href="javascript:{}" class="viewPanel-pagingControls-page action">5</a>
      <a href="javascript:{}" class="viewPanel-pagingControls-page selected">10</a>
      <a href="javascript:{}" class="viewPanel-pagingControls-page action">25</a>
      <a href="javascript:{}" class="viewPanel-pagingControls-page action">50</a>
      <span>
        rows
      </span>
    </div>
    <div class="viewpanel-sorting">
    </div>
    <div class="viewpanel-paging">
      Starting from 
      <input type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="viewpanel-key"></input>
      <a href="javascript:{}" class="first action">« first</a>
      <a href="javascript:{}" class="previous action">‹ previous</a>
      <a href="javascript:{}" class="next action">next ›</a>
      <a href="javascript:{}" class="last action">last »</a>
    </div>
  </div>
  <div class="data-table-container">
  </div>
</div>