<div class="uploadImportContainer">
  <div class="dialog-header">
    Upload and import a tabular data file
  </div>
  <div class="dialog-body">
    <div class="grid-layout layout-tight layout-full">
      <strong>Only CSV and <a href="https://en.wikipedia.org/wiki/Line_Delimited_JSON">newline delimited JSON</a> files are supported</strong><br />
      <p class="fileIcon"></p>
      <p>Drop a file here to upload</p>
    </div>
  </div>
  <div class="dialog-footer">
    <button class="cancelButton button">Cancel</button>
  </div>
</div>